[Unit]
Description=kaleido-api service

[Container]
Image=localhost/kaleido-api-app:latest
ContainerName=kaleido-api-app
Network=kaleido-api.network:alias=app

UserNS=keep-id:uid=1000,gid=1000
Volume=kaleido-api-content.volume:/app/data
Volume=kaleido-api-log.volume:/app/logs

NoNewPrivileges=true
ReadOnly=true
Tmpfs=/tmp

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target